@import "../abstracts/variables";

.btn {
  background-color: $btn-bg;
  color: black;
  font-size: .8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  gap: .7rem;
}

.white-btn {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  padding: .7rem 3rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.btn:hover,
.white-btn:hover {
  cursor: pointer;
}

