@import "../../styles/abstracts/variables";

.projects-container{
  width: 90vw;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
}

// product card css

.product-img{
  height: 20rem;
}



@media (max-width:730px) {
  .product-img{
    height: 100vw;
  }
}