@import "../styles/abstracts/variables";

#contact {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  overflow: hidden;
}

.contact-form {
  width: 90vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.contact-input {
  background-color: rgb(40, 40, 40);
  color: white;
  width: 100%;
  max-width: 40rem;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.submit-btn {
  border-radius: 1rem;
  padding: 1rem 3.5rem;
  margin: 2rem 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.links>img {
  object-fit: cover;
  height: 3rem;
}