@import "../styles//abstracts/variables";

#home {
  height: calc(100vh - 4rem);
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content>.hello {
  font-family: "crimson text", "serif";
  font-size: 1.5rem;
  font-weight: 500;
}

.content>.intro {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.header-desc {
  width: 90%;
  max-width: 35rem;
  font-size: normal;
  font-weight: 300;
}

.intro>.name {
  color: $btn-bg
}

.hire-btn {
  width: fit-content;
  margin-top: 2rem;
  padding: 0 2rem 0 0;
}

.hire-img{
  object-fit: cover;
  height: 1rem;
  margin: 1rem 0 1rem 2rem;
}


.model-img {
  height: calc(100vh - 4rem);
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width:430px) {
  .content>.hello {
    font-size: 1.2rem;
  }

  .model-img{
    right: -5vw;
  }
  .content>.intro {
    font-size: 2.2rem;
  }

  .desc {
    font-size: .8rem;
  }
}

@media (max-width:380px) {
  .hello{
    font-size: 5vw;
  }
  .intro{
    font-size: 8vw;
  }
  .header-desc{
    font-size: 4.2vw;
  }
}