#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem 0;
}

.skill-title {
  font-size: 3rem;
  font-weight: 600;
}

.skill-desc {
  font-size: 1rem;
  padding: 1rem 0;
  max-width: 60rem;
}

.skills-container {
  width: 100vw;
  max-width: 80%;
  text-align: center;
}

// Skill Card CSS

.skill-card {
  background-color: rgb(50, 50, 50);
  display: flex;
  text-align: left;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  gap: 1.5rem;
}

.skill-card-img {
  height: 4rem;
}

@media (max-width:440px) {
  .skill-card {
    padding: 1rem;
  }

}