@import "../styles//abstracts/variables";



.skills-container {
  width: 90vw;
  max-width: 60rem;
}

// Skill Card CSS

.skill-card {
  background-color: rgb(50, 50, 50);
  display: flex;
  text-align: left;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  gap: 1.5rem;
}

.skill-card-img {
  height: 4.2rem;
}


.skill-card-desc{
display: flex;
flex-direction: column;
gap: .5rem;
}

@media (max-width:440px) {
  .skill-card {
    padding: 1rem;
  }

}