@import "../../styles//abstracts/variables";


.about-cont {
  gap: 2rem;
}

.courses-container {
  width: 100%;
  max-width: 60rem;
}

.skills-container {
  width: 90%;
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

// courses card css

.sec-desc {
  margin-top: -1rem;
  max-width: 50rem;
}

.course-card {
  background-color: rgb(50, 50, 50);
  display: flex;
  text-align: left;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  gap: 1.5rem;
}

.img-container {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .2rem;

}

.img-container>p {
  font-size: .8rem;
  font-weight: 400;
}


.course-card-img {
  height: 4.2rem;
}


.course-card-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

.course-title {
  font-size: 1.5rem;
}

.course-skill {
  font-size: .7rem;
  word-spacing: 5px;
}


.course-links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0 .5rem;
  gap: 2rem;
}

.course-links a:hover {
  cursor: pointer;
}

// Skill Card CSS

.skill-card-container {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skill-card-container>img {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
}

.skill-card-container>h5 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}


@media (max-width:695px) {

  .skill-card-container {
    width: 5rem;
  }

  .skill-card-container>img {
    height: 3rem;
    width: 3rem;
  }

  .skill-card-container>h5 {
    font-size: .8rem;
  }
}

@media (max-width:515px) {
  .skill-card-container {
    width: 4.9rem;
    gap: .5rem;
  }

  .skill-card-container>img {
    height: 3rem;
    width: 3rem;
  }

  .skill-card-container>h5 {
    font-size: .6.5rem;
  }
}


@media (max-width:440px) {
  .skill-card {
    padding: 1rem;
  }

  .img-container {
    width: 8rem;
  }

  .course-card-img {
    height: 3.5rem;
  }

  .course-title {
    font-size: 5.5vw;
  }

  .course-skill {
    font-size: 3vw;
  }

  .course-card {
    gap: 3vw;
  }

}


@media (max-width:370px) {
  .course-card {
    justify-content: center;
    padding: 3vw 4vw;
  }

  .course-card-img {
    width: 18vw;
    height: 18vw;
  }

  .img-container>p {
    font-size: 3.2vw;
  }

  .img-container {
    width: 35vw;
  }

  .course-links {
    margin-top: 2vw;
  }

}