@import "../../styles/abstracts/_variables.scss";


nav {
  background-color: $bg-secondary;
  background-image: linear-gradient(200deg, $bg-secondary, $active-color);
  color: white;
}

.nav-logo {
  color: white;
  font-style: italic;
  font-weight: 600;
}

.nav-links {
  font-weight: 500;
  gap: 1.5rem;
}


.active {
  background-color: $active-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.nav-links a:not(.active):hover {
  background-color: $hover-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button {
  margin: 1rem auto 0 auto;
  display: flex;
}

.show {
  visibility: hidden;
}

@media (max-width: 575px) {
  .show {
    visibility: visible;
  }
}