@import "../../styles/abstracts/_variables.scss";


nav {
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 3rem;
  z-index: 5;
}

.scrolled {
  background-color: rgb(40, 40, 40);
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 2.5px;
  color: $btn-bg;
  cursor: pointer;
}

.nav-items {
  position: relative;
  display: flex;
  gap: 2rem;
}

.nav-items>a {
  padding: .7rem 1rem;
}

.nav-items>a:not(.active):hover {
  color: $btn-bg;
  padding-bottom: .5rem;
  border-bottom: 2px solid $btn-bg;
  cursor: pointer;
}

.active {
  color: $btn-bg;
  border-bottom: 2px solid $btn-bg;
  cursor: pointer;
}

.contact-btn {
  padding: 0 1.2rem 0 0;
}

.contact-btn>img,
.contact-btn>.icon {
  object-fit: cover;
  height: 1rem;
  margin: 1rem 0 1rem 1.2rem;
}

.mobile-menu {
  display: none;
  height: 1.9rem;
  cursor: pointer;
}


.mobile-nav-items {
  background-color: rgb(40, 40, 40);
  min-width: 15rem;
  height: fit-content;
  position: absolute;
  top: 4rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem .5rem 1rem .5rem;
  gap: 1rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  z-index: 5;
}

.mobile-nav-items>a {
  width: 100%;
  color: white;
  padding: 0.5rem 3rem;
  margin: .25rem;
  text-align: center;
}

.mobile-nav-items>a:not(.active):hover {
  background-color: rgb(30, 30, 30);
  color: $btn-bg;
  border-bottom: 2px solid $btn-bg;
  cursor: pointer;

}


@media (max-width:780px) {
  nav{
    padding: 0 1.5rem;
  }
  .mobile-menu {
    display: flex;
  }

  .nav-items,
  .contact-btn {
    display: none;
  }
}

@media (max-width:380px) {
  .logo{
    font-size: 6.5vw;
  }
  .mobile-menu{
    height: 7vw;
  }

  nav{
    padding: 0 1rem;
  }
}