@import "../../styles/abstracts/_variables.scss";
@import "../../styles/base/typography";

nav {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background-image: $nav-bg;
  // backdrop-filter: blur(10px);
  color: white;
}

nav .logo {
  font-family: 'Cinzel', serif;
  font-weight: 500;
  color: white;
}

.sidebar {
  background-color: rgba(97, 31, 144, 0.16);
  color: white;
  backdrop-filter: blur(10px);
}


// .active {
//   background-image: $active-nav-bg;
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
// }

.sidebar>div {
  gap: 1rem;
  z-index: 1;
}

.sidebar>div>a {
  padding: .5rem 1rem;
  border-radius: 15px;
}

.sidebar>div>a:not(.active):hover {
  background-image: $active-nav-bg;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: inherit;
}


@media (max-width: 776px) {
  .sidebar {

    max-width: 20rem;
  }

}

@media (max-width: 576px) {
  .sidebar {
    max-width: 15rem;
  }

}