@import "../../styles/abstracts/variables";

.footer {
  background-color: rgb(40, 40, 40);
  position: relative;
  margin-top: 2rem;
  padding: .2rem 0;
  text-align: center;
  font-size: small;
  font-weight: 500;
  color: white;
}